body{
    background-color: #e6e4e3;
    height: 100%;
    margin: 0;
}

.hero{
    background-image: url(./syasin/syasin/9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: contrast(0.8);
    height: 100%;
    max-height: 600px;
    min-height: 550px;

}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
}
.hero-subtitle{
    font-family: 'Noto Serif JP';
    font-weight: 400;
    color: #e6e4e3;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
}

.hero-title{
    font-family: 'Noto Serif JP';
    font-weight: 500;
    color: #e6e4e3;
    font-size: 3rem;
    text-align: left;
    margin-left: 2rem;
    margin-top: 4rem;
}

.hero-description{
    font-family: 'Noto Serif JP';
    font-weight: 400;
    color: #e6e4e3;
    font-size: 2.1rem;
    margin-left: 2rem;
}

.section-title {
    font-family: 'Noto Serif JP';
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(78, 47, 16);
    letter-spacing: 0.3em;
}

.image{
    width: 100%;
    max-width: 900px;
    max-height: 500px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 58%;
    margin-bottom: 1rem;
    display: block;
    margin: 0 auto;
}
.cta-primary{
    width: 100px;
    height: 100px;
    background-color: #e6e4e3;
    border-radius: 50px; /* 四隅を20pxの半径で丸める */
}


.mission-logo{
    font-family: 'Noto Serif JP';
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(74, 71, 71);
    margin-bottom: 1rem;
    letter-spacing: 0.3em;

}

.mission-statement{
    font-family: 'Noto Serif JP';
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(74, 71, 71);
    line-height: 1.8;
    max-width: 800px;
        margin: 0 auto;
        letter-spacing: 0.2em;
}

.mission-values{
    max-width: 800px;
    display: block;
    margin: auto;
}

.value-item{
    font-family: 'Noto Serif JP';
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(74, 71, 71);
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 2rem auto;
    letter-spacing: 0.1em;
}

.container p{
    letter-spacing: 0.1em;
    color: rgb(74, 71, 71);
    font-family: 'Noto Serif JP';
}

.value-item img{
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 1rem auto 0 auto;
    object-fit: cover;
}

.mission-values .value-item:nth-child(3) img {
    object-fit: cover;
    object-position: 50% 65%;
}



.section.work-section{
    margin-top: 10rem;
}

.work-content h3{
    font-family: 'Noto Serif JP';
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.5rem;
    letter-spacing: 0.3em;
}

.work-image img{
    width: 100%;
    width: 400px;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.work-grid .work-card:nth-child(2) .work-image img{
    object-fit: cover;
    object-position: 50% 65%;
}

.work-card{
    display: flex;
    margin-top: 3rem;
}

.work-content{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.work-grid .work-card:nth-child(2) {
    flex-direction: row-reverse;
    display: flex;
}

.work-grid{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.timeline{
    text-align: center;
    margin-top: 10rem;
}

.timeline h3{
    font-family: 'Noto Serif JP';
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(78, 47, 16);
    letter-spacing: 0.3em;
}

.timeline-time{
    font-family: 'Noto Serif JP';
    font-weight: 650;
    font-size: 1.3rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.5rem;
    letter-spacing: 0.2em;
}

.timeline-content h4{
    font-family: 'Noto Serif JP';
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.2rem;
    letter-spacing: 0.3em;
}

.scroll{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.timeline-item::after {
    content: "→";
    margin-left: 8px;
}



.section.benefits-section{
    max-width: 800px;
    text-align: center;
    margin: 10rem auto 0 auto;
}

.benefit-card.reveal h3{
    font-family: 'Noto Serif JP';
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.2rem;
    letter-spacing: 0.3em;
}

.benefit-card.reveal p{
    font-family: 'Noto Serif JP';
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(74, 71, 71);
    letter-spacing: 0.1em;
}



.section.ideal-section{
    max-width: 800px;
    margin: 10rem auto 0 auto;
}

.ideal-grid p{
    font-family: 'Noto Serif JP';
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(74, 71, 71);
    letter-spacing: 0.1em;
}

.ideal-grid p::before {
    content: "・";
}



.reveal h3{
    font-family: 'Noto Serif JP';
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(78, 47, 16);
    letter-spacing: 0.3em;
}



.section.requirements-section{
    max-width: 1000px;
    margin: 10rem auto 0 auto;
    text-align: center;
}

.requirements-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
}




.section.support-section{
    max-width: 800px;
    margin: 10rem auto 0 auto;
    text-align: center;
}

.section.process-section{
    max-width: 800px;
    margin: 10rem auto 0 auto;
    text-align: center;
}

.process-content h4{
    font-family: 'Noto Serif JP';
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.2rem;
    letter-spacing: 0.3em;

}

.process-number{
font-family: 'Noto Serif JP';
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.2rem;
    letter-spacing: 0.3em;
    margin-bottom: -1rem;
}

.process-step{
    margin-top: 3rem;
}




.gallery-section{
    margin-top: 10rem;
}
.container img{
    width: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.gallery-grid{
    display: flex;
    overflow:scroll;
    margin: 3rem;
    gap: 30px;
    background-color: #e6e4e3;
}
.cta-content.reveal h2{
    font-family: 'Noto Serif JP';
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(74, 71, 71);
    margin-bottom: 0.2rem;
    letter-spacing: 0.3em;
}

.cta-content.reveal p{
    font-family: 'Noto Serif JP';
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(74, 71, 71);
    letter-spacing: 0.1em;
}

.cta-content.reveal{
    animation: fadeInUp 1s ease-in-out;
    text-align: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}